@media (max-width: 450px) {
    .aboutMe {
        flex-direction: column;

        .left-side {
            width: 100%;

            .text {
                padding: 0;
            }
        }

        .right-side {
            width: 100%;
 

            .pictures {
                width: 80%;
                height: auto;
                position: static;

                .myPhoto {
                    width: 100%;

                    .myEmoji{
                        width: 50vw;
                        height: auto;
                    }
                }

                .sectionBracerRight {
                    .bracerRight {
                        width: 13vw;
                    }

                }
                .sectionBracerLeft{

                    .bracerLeft {
                        width: 13vw;
                    }
                }
            }
        }
    }
}
