.aboutMe {
    width: 100%;
    height: auto;
    padding: 5vh 0;
    background: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // position: absolute;

    .left-side {
        width: 40%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .text {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 40px;
            gap: 2vh;

            strong {
                font-size: clamp(2.8125rem, 2.1696rem + 3.2143vw, 4.5rem);
                width: 100%;
                text-align: left;
                padding-bottom: 2vh;
            }
            span {
                font-size: clamp(1.375rem, 1.2356rem + 0.5948vw, 1.875rem);
            }
        }
    }

    .right-side {
        width: 40%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .pictures {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
   
            .sectionBracerRight {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                position: relative;
                top: 5vh;
                left: 5vw;

                .bracerRight {
                    max-width: 90%;
                    width: 8vw;
                    height: auto;
                    
                }
            }

            .sectionBracerLeft {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                position: relative;
                top: -2vh;
                left: -8vw;

                .bracerLeft {
                    width: 8vw;
                    height: auto;
                }
            }

            .myPhoto {
                width: 100%;
                height: auto;
                text-align: center;

                .myEmoji {
                    width: 20vw;
                }
            }
        }
    }
}
