$color-lightPurple: #9669d0;
$color-yellow: #f7be01;
$color-lightBlue: #00d1ff;
$color-pink: #f6005a;
$color-lightGrey: #9b9b9b;
$color-purple: #711edc;
$color-lightGreen: #53ea9a;
$color-orange: #d84327;

.work-section {


    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        color: white;

        .example-work {
            width: 100%;
            text-align: center;
            padding: 2vh 0;
            font-size: clamp(2.6rem, 2.0358rem + 0.6472vw, 2.8125rem);
            font-weight: 600;
            white-space: nowrap;
            background: linear-gradient(45deg, rgb(4, 247, 150), rgb(4, 247, 243) 33%, rgb(100, 33, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #0b2349;
        }

        .array {
            // max-width: 30vw;
            margin: 0 2vw;
            height: auto;
            display: flex;
            flex-direction: column;
            background-color: black;
            border: 2px solid green;
            border-radius: 15px;
            position: relative;
            font-size: clamp(0.85rem, 0.8053rem + 0.2974vw, 1.125rem);

            .circles {
                width: 100%;
                height: 6vh;
                border-bottom: 2px solid green;
                display: flex;
                gap: 10px;

                .circle {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    position: relative;
                    top: 2vh;
                    left: 1.5vw;
                }

                .green {
                    background: $color-lightGreen;
                }
                .blue {
                    background: $color-lightBlue;
                }
                .purple {
                    background: $color-pink;
                }
            }

            .works {
                // max-width: 340px;
                // max-height: 340px;
                min-width: 100px;
                display: flex;
                flex-direction: column;
                gap: 0.3vh;
                padding: 1.5vh 2vw;
                font-weight: 600;
                // width: 80%;

                // .class {
                //     color: $color-yellow;
                // }

                .button {
                    margin-top: 2vh;
                }
                .line {
                    padding-left: 55px;

                    .this {
                        color: $color-pink;
                    }
                    .dot {
                        color: $color-purple;
                    }
                    .name {
                        color: $color-lightGrey;
                    }
                    .equals {
                        color: $color-purple;
                        margin: 0 5px;
                    }
                    .doubleQuote1 {
                        color: $color-lightBlue;
                    }
                    .text {
                        color: $color-lightGreen;
                        margin: 0 2px;
                    }
                    .doubleQuote2 {
                        color: $color-lightBlue;
                    }
                    .semicolon {
                        color: $color-lightBlue;
                        margin-left: 2px;
                    }
                }

                .classLine {
                    display: flex;
                    gap: 0.3vw;

                    .model {
                        color: $color-lightPurple;
                    }

                    .className {
                        color: $color-yellow;
                    }
                    .braceLeftYellow {
                        color: $color-yellow;
                    }
                }

                .constructorLine {
                    display: flex;
                    gap: 0.3vw;
                    margin-left: 25px;

                    .constructorName {
                        color: $color-lightBlue;
                    }
                    .brackets {
                        color: $color-lightPurple;
                    }
                    .braceLeftPurple {
                        color: $color-lightPurple;
                    }
                }

                .braceRight1 {
                    color: $color-lightPurple;
                    margin-left: 25px;
                }
                .braceRight2 {
                    color: $color-yellow;
                }
            }
        }
    }
}

.array::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 3;
    border-radius: 15px;
}

.array.active::before {
    content: "";
    display: none;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-list {
    position: relative;
    // max-width: 1720px !important;
}
.slick-track {
    // max-width: 1720px !important;
}
