// $color-liteBlue: rgb(179, 235, 255);
// $color-litePurple: rgb(117, 117, 212);
// $color-purple: rgb(204, 95, 255);
// $color-yellow: rgb(255, 213, 0);
// $color-gray-light: rgb(212, 212, 212);
// $color-black: rgb(11, 11, 11);
// $color-greenyellow: rgb(172, 254, 47);
// $color-test: rgb(27, 169, 245);

// .work-section {
//     width: 100%;
//     height: auto;
//     padding: 30px 0;

//     .top-section {
//         width: 100%;
//         height: 10vh;
//         text-align: center;
//     }

//     .bottom-section {
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 4vw;

//         .card {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             width: 25%;
//             height: auto;
//         }

//         .example-work {
//             width: 100%;
//             display: block;
//             text-align: center;
//             padding: 2vh 0;
//             font-size: 3em;
//             font-weight: 500;
//             background: linear-gradient(45deg, rgb(4, 247, 150), rgb(4, 247, 243) 33%, rgb(100, 33, 255));
//             -webkit-background-clip: text;
//             -webkit-text-fill-color: transparent;
//             color: #0b2349;
//             display: table;
//         }

//         .array {
//             width: 100%;
//             height: 40vh;
//             display: flex;
//             flex-direction: column;
//             background-color: black;
//             border: 2px solid green;
//             border-radius: 15px;
//             position: relative;
//             font-size: 0.8em;

//             .circles {
//                 width: 100%;
//                 height: 6vh;
//                 border-bottom: 2px solid green;
//                 display: flex;
//                 gap: 0.5vw;

//                 .circle {
//                     width: 15px;
//                     height: 15px;
//                     border-radius: 50%;
//                     position: relative;
//                     top: 1vh;
//                     left: 1vw;
//                 }

//                 .green {
//                     background: green;
//                 }
//                 .blue {
//                     background: blue;
//                 }
//                 .purple {
//                     background: purple;
//                 }
//             }
//             .works {
//                 width: 90%;
//                 height: auto;
//                 display: flex;
//                 flex-direction: column;
//                 gap: 0.5vh;
//                 padding: 2vh 1vw;

//                 .class {
//                     color: $color-yellow;
//                 }

//                 div {
//                     width: 100%;
//                     color: white;
//                 }

//                 .button {
//                     margin-top: 2vh;
//                     width: 10vw;
//                 }
//             }
//         }
//         .array::before {
//             content: "";
//             position: absolute;
//             top: -2px;
//             left: -2px;
//             right: -2px;
//             bottom: -2px;
//             background-color: rgba(255, 255, 255, 0.6);
//             z-index: 1;
//             border-radius: 15px;
//         }

//         .array.active::before {
//             content: "";
//             display: none;
//         }
//     }
// }

$color-liteBlue: rgb(179, 235, 255);
$color-litePurple: rgb(117, 117, 212);
$color-purple: rgb(204, 95, 255);
$color-yellow: rgb(255, 213, 0);
$color-gray-light: rgb(212, 212, 212);
$color-black: rgb(11, 11, 11);
$color-greenyellow: rgb(172, 254, 47);
$color-test: rgb(27, 169, 245);

.work-section {
    max-width: 1720px;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        color: white;

        .example-work {
            width: 100%;
            text-align: center;
            padding: 2vh 0;
            font-size: clamp(2.1875rem, 2.0358rem + 0.6472vw, 2.8125rem);
            font-weight: 600;
            white-space: nowrap;
            background: linear-gradient(45deg, rgb(4, 247, 150), rgb(4, 247, 243) 33%, rgb(100, 33, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #0b2349;
        }

        .array {
            width: 100%;
            // height: 40vh;
            display: flex;
            flex-direction: column;
            background-color: black;
            border: 2px solid green;
            border-radius: 15px;
            position: relative;
            font-size: 0.8em;

            .circles {
                width: 100%;
                height: 6vh;
                border-bottom: 2px solid green;
                display: flex;
                gap: 0.5vw;

                .circle {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    position: relative;
                    top: 1vh;
                    left: 1vw;
                }

                .green {
                    background: green;
                }
                .blue {
                    background: blue;
                }
                .purple {
                    background: purple;
                }
            }

            .works {
                display: flex;
                flex-direction: column;
                gap: 0.5vh;
                padding: 2vh 1vw;

                .class {
                    color: $color-yellow;
                }

                .button {
                    margin-top: 2vh;
                }
            }
        }
    }
}

.array::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
    border-radius: 15px;
}

.array.active::before {
    content: "";
    display: none;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-list {
    position: relative;
    // max-width: 1720px !important;
}
.slick-track {
    // max-width: 1720px !important;
}
