$color-greenyellow: rgb(172, 254, 47);

.new-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-radius: 15px;
}

#element::-webkit-scrollbar {
    display: none;
}

.new-modal-content {
    position: relative;
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 13px;
    width: 85%;
    height: 85%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    color: black;
    border: 2px solid $color-greenyellow;
    overflow-y: scroll;

    .text-section {
        // padding: 15px 0;

        .btn-close {
            position: absolute;
            border: none;
            background: transparent;
            top: 1vh;
            right: .5vw;
            font-size: 25px;
            color: rgb(0, 0, 0);
            padding: 0;


            &:hover {
                color: rgb(255, 0, 0);
                cursor: pointer;
            }

            &:active {
                color: red;
            }
        }

        .frontend,
        .backend,
        .features,
        .projectOutcome {
            color: black;
            padding: 0 15px;
            padding-bottom: 2vh;

            h2 {
                border-bottom: 2px solid black;
            }

            p {
                margin-left: 1vw;
            }

            strong{
                position: relative;
            }
            strong::before {
                color: rgb(0, 0, 0);
                /* UTF-8 escape sequence, соответствующая символу "Маркер списка" */
                content: "\2022";
                /* Делаем больше, чем основной текст в li */
                font-size: 20px;
                font-weight: 700;
                /* Элемент вырван из потока, выравниваем отрицательным отступом */
                left: -15px;
                /* Высота строки и позиционирование необходимы для выравнивания по вертикали */
                line-height: 18px;
                position: absolute;
                top: 0;
            }
        }
    }
}

@media (max-width: 480px) {
    .btn-close{
        right: 2vw;
    }
}
