@media (max-width: 480px) {

    .download-button-section{
        display: block;

        .download-button{

            width: 50px;
            height: 50px;
            font-size: 2em;
            position: fixed;
            right: 6vw;
            bottom: 3vh;
            margin: 0;
            padding: 0;
            animation-iteration-count: 3;
            animation-delay: 2s;
        }
        .shadow{
            display: none;
        }
    }
}

@media (min-width: 821px) and (max-width: 1024px){

    .download-button-section{
        position: relative;
        top: 18vh;
        left: -20vw;

    }
}