.nav_bar {
    width: 90%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;

        &:first-of-type{
            color: #7B68DF;
        }
    }
}
