.slider-section {
    padding: 3vh 0;

    .top-section {
        padding: 2vh 0;

        .arrows-section{
            display: none;
        }
    }
    .slick-dots {
        // padding-bottom: 5vh;
    }
}
