$color-lightGreen: rgba(0, 255, 121, 1);
$color-blue: rgba(0, 209, 255, 1);
$color-purple: rgba(113, 33, 216, 1);

.greetings-section {
    width: 100%;
    min-height: 92vh;
    height: auto;
    background: #fdf8f8;
    padding-top: 8vh;

    animation-name: opacity;
    animation-duration: 3s;
    animation-iteration-count: 1;

    .wrapper-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        height: auto;
        padding: 5vh 0;
        gap: 2vw;

        .left-side {
            min-width: 400px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 4vh;
            position: relative;
            animation-name: slideFromLeft;
            animation-duration: 2s;
            animation-iteration-count: 1;

            .name {
                width: 85%;
                height: auto;
                display: flex;
                animation-name: slideFromLeft;
                animation-duration: 2.5s;
                animation-iteration-count: 1;

                &:last-child {
                    animation: none;
                }

                .myName {
                    font-size: clamp(2.8125rem, 2.3839rem + 2.1429vw, 4.6875rem);
                    margin: 0;
                    margin-right: 3vw;
                    white-space: nowrap;
                }
                //---------------------------------
                // .firstName {
                //     font-size: clamp(2.8125rem, 2.3839rem + 2.1429vw, 4.6875rem);
                //     font-weight: 600;
                //     width: 100%;
                //     animation-name: letter;
                //     animation-duration: 2s;
                //     animation-iteration-count: infinite;

                //     .letter{
                //         transition: .6s;

                //         &:hover{
                //             animation-name: letter;
                //             color: red;
                //             cursor: pointer;
                //         }
                //     }

                // }
                // .secondName {
                //     font-size: clamp(2.8125rem, 2.3839rem + 2.1429vw, 4.6875rem);
                //     font-weight: 600;
                //     margin-right: 3vw;
                // }
                //---------------------------------
            }

            .frontEnd {
                font-size: clamp(1.875rem, 1.7321rem + 0.7143vw, 2.5rem);
                font-weight: 600;

                animation-name: slideFromLeft;
                animation-duration: 3s;
                animation-iteration-count: 1;

                .item2 {
                    background: linear-gradient(45deg, rgb(4, 247, 150), rgb(4, 247, 243) 33%, rgb(100, 33, 255));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: #0b2349;
                }
            }

            .bottom-section {
                width: 100%;
                height: auto;

                .emoji-section {
                    width: 100%;
                    height: auto;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 5vw;
                    top: 20vh;

                    .bracerRight {
                        width: 60%;
                        text-align: right;
                        position: relative;
                        top: 5vh;

                        img {
                            width: 8vw;
                        }
                    }

                    .myEmoji {
                        // width: 50%;
                        height: auto;
                        text-align: center;
                        position: relative;

                        img {
                            width: 10vw;
                            height: auto;
                        }
                    }

                    .bracerLeft {
                        width: 60%;
                        text-align: left;
                        position: relative;
                        top: -4vh;

                        img {
                            width: 8vw;
                        }
                    }
                }

                .icons {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;

                    .squares {
                        width: 100%;
                        text-align: center;
                        position: relative;
                        top: -8vh;

                        img {
                            width: 4.5vw;
                        }
                    }

                    .peopleAndMessage {
                        width: 80%;
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        top: 18vh;

                        img {
                            width: 8vw;
                        }
                    }
                }
            }
        }

        .right-side {
            min-width: 430px;
            // width: 35%;
            height: auto;
            // padding-top: 5vh;
            animation-name: slideFromRight;
            animation-duration: 3s;
            animation-iteration-count: 1;

            .squares {
                width: 100%;
                min-width: 500px;
                height: auto;
                border-radius: 30px;
                border: 2px solid black;

                background: linear-gradient(127deg, rgb(135, 255, 231), rgb(222, 180, 255) 85.71%),
                    linear-gradient(90deg, rgba(4, 247, 113), rgb(4, 247, 113) 20.71%),
                    linear-gradient(336deg, rgba(0, 255, 102), rgba(2, 255, 238) 85.71%);

                .top-square {
                    display: flex;
                    gap: 1vw;
                    align-items: center;
                    padding: 3vh 2vw;
                    border-bottom: 2px solid black;

                    .circle {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }

                    .green {
                        background: $color-lightGreen;
                    }
                    .blue {
                        background: $color-blue;
                    }
                    .purple {
                        background: $color-purple;
                    }
                }

                .bottom-square {
                    width: 100%;
                    height: auto;

                    // padding: 1vh 1vw;
                }
            }
        }
    }
}
