.greetings-section {
    width: 100%;
    height: 100vh;
    background: #fdf8f8;

    .wrapper-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        height: auto;
        padding: 5vh 0;

        .left-side {
            min-width: 400px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 4vh;
            position: relative;

            .myName {
                // font-size: clamp(3rem, 2.6143rem + 1.9286vw, 4.6875rem);
                font-size: clamp(2.8125rem, 2.3839rem + 2.1429vw, 4.6875rem);
                margin: 0;
                white-space: nowrap;
            }

            .frontEnd {
                font-size: clamp(1.875rem, 1.7321rem + 0.7143vw, 2.5rem);
                font-weight: 600;

                .item2 {
                    background: linear-gradient(45deg, rgb(4, 247, 150), rgb(4, 247, 243) 33%, rgb(100, 33, 255));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: #0b2349;
                }
            }

            .bottom-section {
                width: 100%;
                height: auto;

                .emoji-section {
                    width: 100%;
                    height: auto;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 5vw;
                    top: 20vh;

                    .bracerRight {
                        width: 60%;
                        text-align: right;
                        position: relative;
                        top: 5vh;

                        img {
                            width: 8vw;
                        }
                    }

                    .myEmoji {
                        // width: 50%;
                        height: auto;
                        text-align: center;
                        position: relative;

                        img {
                            width: 10vw;
                            height: auto;
                        }
                    }

                    .bracerLeft {
                        width: 60%;
                        text-align: left;
                        position: relative;
                        top: -4vh;

                        img {
                            width: 8vw;
                        }
                    }
                }

                .icons {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;

                    .squares {
                        width: 100%;
                        text-align: center;
                        position: relative;
                        top: -8vh;

                        img {
                            width: 4.5vw;
                        }
                    }

                    .peopleAndMessage {
                        width: 80%;
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        top: 18vh;

                        img {
                            width: 8vw;
                        }
                    }
                }
            }
        }

        .right-side {
            min-width: 400px;
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;

            .squares {
                width: 100%;
                height: auto;
                border-radius: 30px;
                border: 2px solid black;

                background: linear-gradient(127deg, rgb(135, 255, 247), rgb(222, 180, 255) 85.71%),
                    linear-gradient(90deg, rgba(4, 247, 113), rgba(4, 247, 113) 20.71%),
                    linear-gradient(336deg, rgba(0, 255, 102), rgba(2, 255, 238) 85.71%);

                .top-square {
                    display: flex;
                    gap: 1vw;
                    align-items: center;
                    padding: 3vh 2vw;

                    .circle {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }

                    .green {
                        background: green;
                    }
                    .blue {
                        background: blue;
                    }
                    .purple {
                        background: purple;
                    }
                }

                .bottom-square {
                    width: 100%;
                    height: auto;
                    border-top: 2px solid black;
                    padding: 1vh 0;

                    .front-block {
                        width: 60%;
                        height: auto;
                        padding: 2vh;
                        border: 2px solid #00ff79;
                        border-radius: 28px;
                        color: white;
                        background: black;
                        position: relative;
                        left: 5vw;
                        top: 0;
                        z-index: 1;

                        span {
                            font-size: clamp(0.875rem, 0.8179rem + 0.2857vw, 1.125rem);
                            letter-spacing: 0;
                        }
                    }

                    .rear-block {
                        width: 50%;
                        height: auto;
                        padding: 2vh;
                        border: 1px solid #00ff79;
                        border-radius: 28px;
                        color: white;
                        background: black;
                        position: relative;
                        left: 2vw;
                        top: -2vh;
                        opacity: 0.9;

                        span {
                            font-size: clamp(0.6875rem, 0.6304rem + 0.2857vw, 0.9375rem);

                            letter-spacing: 0;
                        }
                    }
                }
            }
        }
    }
}
