// $color-red: rgb(175, 77, 77);
$color-liteBlue: rgb(179, 235, 255);
$color-blue: rgb(117, 117, 212);
$color-purple: rgb(204, 95, 255);
$color-yellow: rgb(255, 213, 0);
$color-gray-light: rgb(212, 212, 212);
$color-black: rgb(11, 11, 11);
$color-greenyellow: rgb(172, 254, 47);
$color-test: rgb(27, 169, 245);

.common-skill {
    display: flex;
    font-weight: 400;
    justify-content: flex-start;
    height: auto;
    margin-left: 3.5vw;
    gap: 0.3vw;

    .iconSkill {
       
    }

    .name {
        color: $color-liteBlue;
    }
    .value {
        color: $color-purple;
    }

    .string {
        color: $color-purple;
    }
}

.portfolio-section {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;

    .left-side {
        max-width: 50%;
        width: 50%;
        height: auto;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;

        .portfolio {
            width: 60%;
            font-weight: 600;

            .item1,
            .item2 {
                font-size: clamp(2.8125rem, 2.1696rem + 3.2143vw, 4.5rem);
            }
        }

        .portfolio2 {
            display: flex;
            flex-direction: column;
            gap: 3vh;
            width: 60%;
            font-size: clamp(1.25rem, 1.1071rem + 0.7143vw, 1.875rem);
        }
    }

    .right-side {
        min-width: 500px;
        max-width: 50%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .black-square {
            // width: 80%;
            display: flex;       
            height: auto;
            border: 3px solid $color-greenyellow;
            border-radius: 30px;
            background: $color-black;
            justify-content: space-between;

            .skills {
                width: 40%;
                height: auto;
                display: flex;
                flex-direction: column;
                padding: 2vh 2vw;
                font-size: clamp(1rem, 0.8504rem + 0.3717vw, 1.25rem);

                .title-skills {

                    .const {
                        color: $color-purple;
                    }
                    .func {
                        color: $color-gray-light;
                    }
                    .even {
                        color: $color-purple;
                    }
                    .bracers {
                        color: $color-yellow;
                    }
                }

                .function-skills,
                .function-tools {
                    margin-left: 1.5vw;

                    .skill {
                        color: $color-blue;
                    }
                    .string {
                        color: $color-purple;
                    }
                }

                .bracer {
                    color: $color-purple;
                    margin-left: 1.7vw;
                }
                .bracer-2 {
                    color: $color-yellow;
                }
            }

            .description {
                width: 60%;
                height: auto;
                border-left: 2px solid $color-greenyellow; 
                color: white;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding: 30px;

                .course {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 2vh;

                    .education {
                        display: block;
                        font-size: clamp(1.5625rem, 1.4196rem + 0.7143vw, 2rem);
                    }
                    .descriptionOfCourse {
                        width: 100%;
                        display: flex;
                        gap: 1vw;
                        font-size: clamp(1.25rem, 1rem + 0vw, 1rem);
                    
                        .circle{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                        }
                        .description-text{
                            width: 90%;
                            display: flex;
                            flex-direction: column;
                            gap: 2vh;
                        }

                        .green{
                            background: $color-greenyellow;
                        }
                        .purple{
                            background: $color-purple;
                        }
                    }
                }
            }
        }
    }
}
