.portfolio-section {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .left-side {
        width: 40%;
        height: auto;
    }

    .right-side {
        width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .black-square {
            width: 80%;
            display: flex;

            padding: 20px 30px;
            border: 3px solid greenyellow;
            border-radius: 30px;
            background: black;

            .skills {
                width: 40%;

                height: auto;

                .common-skill {
                    margin-left: 20px;
                    display: flex;
                    gap: 1vw;
                    font-size: 1.2em;
                    font-weight: 400;

                    .name {
                        color: rgb(175, 77, 77);
                    }
                    .value {
                        color: rgb(174, 0, 255);
                    }
                    .image {
                        width: 20px;
                        height: auto;
                    }
                    .string {
                        color: rgb(174, 0, 255);
                    }
                }

                .title {
                    .const {
                        color: rgb(174, 0, 255);
                    }
                    .func {
                        color: rgb(212, 212, 212);
                    }
                    .even {
                        color: rgb(174, 0, 255);
                    }
                    .braces {
                        color: rgb(255, 213, 0);
                    }
                    .val {
                        font-weight: 600;
                    }
                    .val2 {
                        color: rgb(174, 0, 255);
                        font-weight: 600;
                    }
                }
                .function {
                    .skill {
                        color: blue;
                    }
                    .val {
                        font-weight: 600;
                    }
                    .val2 {
                        color: rgb(174, 0, 255);
                        font-weight: 600;
                    }
                }
            }
            .description {
                width: 50%;
                height: inherit;
                border-left: 2px solid greenyellow;
            }
        }
    }
}
