.footer-section {
    width: 100%;
    height: auto;
    padding: 4vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    .left-side {
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;

        .information {
            width: 50%;
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1vh;

            .logo {
                font-size: 1.7em;
                font-weight: 500;
            }

            span {
            }
        }

        .social-media {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .right-side {
        width: 40%;
        height: auto;
        display: flex;
        justify-content: center;
        // align-items: center;

        .nav_bar_column {
            width: 100%;
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .list {
                display: flex;
                flex-direction: column;
                gap: 1vh;

                .link {
                    text-decoration: none;
                }

                li {
                    list-style-type: none;
                }

                span {
                    font-size: 1.5em;
                }

                li {
                    color: rgb(82, 82, 82);
                    font-weight: 400;
                }
            }
        }
    }
}
