.footer-section {
    width: 100%;
    height: auto;
    padding: 4vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    .left-side {
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;

        .information {
            width: 50%;
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1vh;

            .logo {
                font-size: 2.2em;
                font-weight: 700;
                background: linear-gradient(45deg, rgb(4, 247, 150), rgb(4, 247, 243) 33%, rgb(100, 33, 255));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .contactMe {
                font-weight: 500;
                font-size: clamp(0.9375rem, 0.9026rem + 0.1487vw, 1.0625rem);
            }
        }

        .social-media {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 2vw;

            .icon {
                font-size: clamp(1.875rem, 1.7879rem + 0.3717vw, 2.1875rem);
                color: black;

                &:hover {
                    cursor: cursor;
                    scale: 1.1;
                }
            }
        }
    }

    .right-side {
        width: 40%;
        height: auto;
        display: flex;
        justify-content: center;
        // align-items: center;

        .nav_bar_column {
            width: 100%;
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .list {
                display: flex;
                flex-direction: column;
                gap: 1vh;

                .link {
                    text-decoration: none;
                    color: rgb(82, 82, 82);
                    font-size: clamp(0.9375rem, 0.9026rem + 0.1487vw, 1.0625rem);

                    &:hover {
                        text-decoration: underline;
                        color: rgb(82, 82, 82);
                    }
                }
                span {
                    font-size: clamp(1rem, 0.8432rem + 0.6691vw, 1.5625rem);
                }
            }
        }
    }
}
