@media (max-width: 450px) {
    .footer-section {
        width: 100%;
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 3vh 0;
        gap: 3vh;

        .left-side {
            width: 100%;
            height: auto;
            justify-content: center;
            align-items: center;

            .information {
                width: 100%;
                align-items: center;

                .contactMe{
                    width: 70%;
                }
            }
            .social-media{
                justify-content: center;
                gap: 5vw;
            }
        }

        .right-side {
            width: 100%;
            height: auto;
            padding-bottom: 4vh;

            .nav_bar_column {
                width: 100%;
                height: auto;

                .list {
                    width: 100%;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
